*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
input, select{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: burlywood;
    padding: 10px;
    width: 100%;
}
.select-time,.select-food{
    width: 104%;
}
.container{
   display: flex;
   padding: 50px;
   max-width: 1200px;
   margin: 0px auto;
  
}
.form{
width: 100%;
background-color: burlywood;
padding: 40px;
}
.picture{
    width: inherit;
}
img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
}
h1{
    color: #FFF;
    margin-left: 20px;
}
button{
    border-radius: 20px;
    color: peachpuff;
    border: 1px solid burlywood;
    background-color: #FFF;
}
label{
    color:maroon;
}
#Name::placeholder{
    color: #FFF;
}
#name::placeholder{
    color: #FFF;
}
select{
    color: #FFF;
}
.item1{
    width: 30px;
    border-radius: 20px;
    padding: 5px;
}
.item1:hover{
    background-color: burlywood;
}
.button:hover{
    background-color: maroon;
    text-align: center;
    width: 100px;
    padding: 10px;
    border-radius: 50px;
}
#p2{
    display: none;
}
.button{
    display: inline;
}
.button:hover:after{
    display: inline;
    content: "Person";
    color: #FFF;
    text-align: center;
} 

#special{
    display: block;
}
#submit{
    border: 1px solid maroon;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    padding: 0px;
    background-color: maroon;
}
p{
    color: maroon;
}


@media screen and (max-width:966px){
   .container{
    flex-direction: column;
    padding: 0;
   }
   .form h1{
    font-size: 20px
   }
   
}